<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-gray-500 tracking-widest font-medium title-font mb-1">1Day Quiz</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"><%= @question.title%></h1>
    </div>
    <div class="flex flex-wrap">
      <% @answers.each do |answer|%>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"><%= answer.user.name %>さん</h2>
        <p class="leading-relaxed text-base mb-4"><%= answer.content %></p>
        <%= link_to answer_path(answer, question_id: answer.question.id), class: "text-blue-500 inline-flex items-center" do %>さらに読む
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        <% end %>
      </div>
      <% end %>
    </div> 
  </div>
</section>