<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl">1day Web Quiz</a>
  </div>
  <% if logged_in? %>
    <div class="navbar-center">
      <%= link_to '一覧', answers_path, class: "btn btn-ghost normal-case text-xl" %>
      <%= link_to '回答する', new_question_path, class: "btn btn-ghost normal-case text-xl" %>
    </div>
  <% end %>
  <div class="navbar-end">
    <% if logged_in? %>
      <%= link_to 'Log out', logout_path, data: { turbo_method: :delete}, class: "btn" %>
    <% else %>
      <%= link_to 'Sign up', new_user_path, class: "btn" %>
    <% end %>
  </div>
</div>
